* {
   box-sizing: border-box;
   padding: 0px;
}
.monConteneur {
   position: relative;
   font-size: 14px;
   width: max-content;
}
.monConteneur .barRecherche {
   display: flex;
   /* ---- positionnement/dimension ---- */
   width: max-content;
   height: 30px;
   margin: 5px;
   /* ---- cosmétique ---- */
   text-decoration: none;
   color: rgba(204, 204, 204, 0.836);
   border: 1px solid rgba(170, 168, 168, 0.87);
   border-radius: 50px;
   background-color: rgb(184, 222, 245);
}
.barRecherche #loupe {
   width: 2rem;
   padding: 6px 5px 5px 6px;
   color: gray;
}
.barRecherche #recherche {
   /* ---- positionnement/dimension ---- */
   width: 0px;
   padding: 0px;
   /* ---- cosmétique ---- */
   font-size: inherit;
   border: 0px;
   border-radius: 50px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   background-color: inherit;
   transition: width 0.5s, padding 0.5s;
}
/* En cas d'erreur de saisie (class JS) */
#recherche.erreurChamp {
   background-color: rgba(255, 0, 0, 0.342);
}
/*/// VERSION PAR DEFAUT DU CHAMP (class JS) ///*/
#recherche.defautChamp {
   display: none;
   /* ---- positionnement/dimension ---- */
   width: 250px;
   padding: 0px 6px;
   border-left: inherit;
}
#recherche.active,
#listeSuggestion.active {
   display: block;
}
/*/// ANIMATION DE DEPLOIMENT DU CHAMP (class JS) ///*/
/*remplace la version par defaut*/
#recherche.animHorizontaleOuvrir {
   width: 250px;
   padding: 0px 6px;
   border-left: inherit;
}
/*/// BOITE D'ALERTE (animé par class JS) ///*/
#alertRecherche.alert {
   display: block;
   /* ---- positionnement/dimension ---- */
   position: absolute;
   left: 33px;
   height: 0px;
   width: 238px;
   padding: 0px;
   margin: 0px 5px;
   /* ---- cosmétique ---- */
   overflow: hidden;
   text-align: center;
   color: red;
   border: 0px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: rgb(240, 186, 186);
   transition: height 0.5s, padding 0.5s;
}
/*///  LISTE DE SUGGESTIONS ///*/
#listeSuggestion {
   display: none;
   overflow-y: auto; /*scrollbar si besoin*/
   /* ---- positionnement/dimension ---- */
   position: absolute;
   left: 33px;
   min-height: auto;
   max-height: 260px; /*nombre de suggestion afficher sans scroller*/
   width: 238px;
   padding: 2px;
   margin: 0px 5px;
   /* ---- cosmétique ---- */
   font-family: inherit;
   list-style: none;
   color: inherit;
   border: 1px solid rgba(170, 168, 168, 0.87);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: rgb(166, 230, 182);
}
#listeSuggestion .suggestion {
   margin-bottom: 1px;
}
#listeSuggestion .suggestion:hover {
   background-color: rgb(111, 185, 130);
}
#listeSuggestion .lienSugg {
   border: black solid 1px;
   display: flex;
   flex-wrap: wrap;
   /* ---- cosmétique ---- */
   text-decoration: none;
   color: inherit; /*height: 41px;*/
}
#listeSuggestion img {
   display: block;
   /* ---- positionnement/dimension ---- */
   width: 40px;
   padding: 3px;
}
#listeSuggestion .zoneInfo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* ---- positionnement/dimension ---- */
   width: 173px;
   height: 39.5px;
}
#listeSuggestion .nom {
   /* ---- cosmétique ---- */
   text-decoration: underline;
}
#listeSuggestion .descrip {
   overflow: hidden;
   /* ---- positionnement/dimension ---- */
   height: 16px; /*hauteur d'une ligne : le contenu débordera qu'a l'horizontal*/
   /* ---- cosmétique ---- */
   font-size: 13px;
   font-style: italic;
}
/*expression en correspondance avec l'entré utilisateur*/
.regexMatch {
   font-weight: bolder;
   background-color: rgb(78, 158, 207);
}
